
/* html{ margin: auto auto; max-width: 1200px;}

body {width:100%; text-align: center} */

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.rules {
  cursor: pointer;
  padding: 1px;
  width: 25%;
  text-align: center;
  font-size: 15px;
}
